<html>
<head>
<style>
.container {
display: flex;
width: 100vw;
height: 100vh;
        justify-content: center;
        align-items: stretch;
        background-color: #EEE;
}

.invoice {
width: 7cm;
       background-color: white;
}

.invoice .header .logo {
display: flex;
         justify-content: center;
}

.invoice .header .logo img {
width: 3.2cm;
}

.invoice .hr {
  border-bottom: 1px dashed black;
}

.invoice .infoContainer {
  font-size: 0.8em;
display: flex;
         flex-direction: row;
         justify-content: space-between;
         font-family: sans-serif;
}

.invoice .infoContainer p {
margin: 0;
}

.invoice .infoContainer div {
}

.alignRight {
  text-align: right;
}

.items {
  margin-top: 15px;
}

.invoice table {
width: 100%;
       border-collapse: separate;
       border-spacing: 0;
font: 0.7em "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.invoice table th {
  text-align: center;
  border-bottom: 1px solid black;
}

.invoice table th, td {
padding: 1mm 1mm;
         vertical-align: middle;
}

.invoice table td .alignRight {
  text-align: right;
}

.invoice table .subTotal {
  border-top: 1px dashed black;

}

.orderTotal {
  /* font-family: monospace; */
  font-size: 0.8em;
}

.alignCenter {
  text-align: center;
}

.shopName {
margin: 5mm 0 3mm 0;
        font-family: sans-serif;
        font-size: 13px;
}

.invoiceTitle {
  font-size: 10px;
  font-weight: bold;
  font-family: monospace;
}
.invoiceTitle div {
display: inline;
border: 1px solid black;
padding: 2px 4px 2px 4px;
}

.thanxPart {
  margin-top:2mm;
}

.thanxPart p {
  text-align: center;
  font-size: 10px;
  font-style: italic;
margin: 3px 0 0 0;
}

.block {
display: block;
}

.square {
border: 0.7px solid black;
padding: 2px 4px;
}

.invoiceDetail {
  /* padding-top: 2mm; */
  padding-left: 1mm;
  white-space: pre;
  font-family: monospace;
  font-size: 0.8em;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

</style>
</head>
<body>
<div class="container" *ngIf="orderInfo">
<div class="invoice">
<div class="header">
<div class="logo">
<button class="no-print" onclick="printWindow()"> Print </button>
<h3> {{ .companyInfo.name }} </h3>
<button class="no-print" onclick="closeWindow()"> Close </button>
</div>
<div class="hr"></div>
<div class="infoContainer">
  <div>
  <p>{{ .order.customer }}</p>
  <p>{{ .order.phone }}</p>
  <p>{{ .order.description }}</p>
  </div>

  <div class="alignRight">
  <p>#{{ .order.id }}</p>
  <p>{{ .order.created_at }}</p>
  <p>{{ .dict.Agent }} {{ .order.created_by }}</p>
  </div>
</div> <!-- header.infoContainer -->
<div class="hr"></div>
</div> <!-- header -->

<table >
<thead>
<tr>
<th> {{ .dict.Food }}</th>
<th> {{ .dict.Qty }}</th>
<th> {{ .dict.Price }}</th>
<th> {{ .dict.Total }}</th>
</tr>
</thead>
{{range .foods}}
<tr>
<td> 
{{ .Food }}
</td>
<td> 
{{ .Qty }}
</td>
<td class="alignRight"> 
{{ .Price }}
</td>
<td class="alignRight"> 
{{ .Total }}
</td>
</tr>
{{end}}
<tfoot>
<tr>
<td class="subTotal" colspan="3"> {{ .dict.SubTotal }} </td>
<td class="subTotal alignRight"> 
{{ .order.total }} 
</td>
</tr>
{{if .order.showDiscount}}
<tr>
<td class="subTotal" colspan="3"> {{ .dict.Discount }} </td>
<td class="subTotal alignRight"> 
{{ .order.discount }} 
</td>
</tr>
<tr>
<td class="subTotal" colspan="3"> {{ .dict.GrandTotal }} </td>
<td class="subTotal alignRight"> 
{{  .order.net_total }} 
</td>
</tr>
{{end}}
</tfoot>
</table>
<div class="invoiceDetail" *ngIf="invoice.type == 'sell-serial'">
<!--{{ .order.description }} -->
</div>
<div class="orderTotal alignRight">
<h2> 
{{ .dict.Total  }} 
<span class="square">
{{  .order.net_total }} 
</span>
</h2>
</div>
<div class="hr"></div>
<div class="thanxPart">
<!-- <p> {{ .dict.ThankYou }} </p> -->
<p> {{ .companyInfo.phone }}</p>
<p> {{ .companyInfo.address }} </p>
<p> designed by erp14.com </p>
</div>
</div>
</div>
</body>
<script type="text/javascript">
window.print();

function closeWindow() {
  window.close();
}

function printWindow() {
  window.print();
}
</script>
</html>



